/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, ”Microsoft JhengHei”, Roboto, “Helvetica Neue”, Arial, sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 {
    font-size: 80px;
    font-family: Roboto;
    font-weight: 900;
}

h2 {
    font-size: 32px;
    font-family: Microsoft JhengHei;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-family: Microsoft JhengHei;
    font-weight: 700;
}

/* 通用工具 */
.block {
    display: block;
}

.pb-1 {
    border-bottom: 2px solid;
    padding-bottom: 8px;
}

.pl-3 {
    padding-left: 24px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mb-4{
    margin-bottom: 32px;
}

.mb-9 {
    margin-bottom: 72px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    /* background-color: #73b192; */
}

/* header */
.header {
    border-bottom: 2px solid #5b5b5b;
    padding-bottom: 24px;
}

/* profile */
.photo {
    margin: 48px 0;
}

h2>span {
    font-family: Roboto;
    color: #a30101;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 16px;
}

/* skill */
.darkBlue {
    background-color: #415165;
    padding-top: 32px;
    padding-bottom: 22px;
}

.darkBlue *{
    color: white;
}

.skill {
    width: 996px;
    margin: 0 auto;
    text-align: center;
}

.skillTitle {
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.skill ul {
    font-size: 24px;
    width: 230px;
    margin: 0 auto 0 382px;
    text-align: left;
    border-left: 1px solid #fff;
}

.skill li {
    margin-bottom: 20px;
}

/* workexperience */
.workExp ul{
    width: 587px;
    border-left: 1px solid #415161;
    margin-left: 24px;
}

/* footer_contact */
.contact{
    width: 996px;
    margin: 0 auto;
    text-align: center;
}

.contactTitle{
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.contact img{
    margin: 0 12px;
}

.darkBlue li:nth-child(4){
    margin-bottom: 20px;
}